body {
color:#777;
font-family:Poppins,sans-serif;
font-size:14px;
font-weight:300;
line-height:1.625em;
position:relative;
}

iframe {
border:0;
}

.card-panel {
margin:0;
padding:60px;
}

.btn i,.btn-large i,.btn-floating i,.btn-large i,.btn-flat i {
font-size:1em;
line-height:inherit;
}

h1,h2,h3,h4,h5,h6 {
font-family:Poppins,sans-serif;
color:#222;
line-height:1.2em!important;
margin-bottom:0;
margin-top:0;
font-weight:600;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
margin-bottom:0;
margin-top:0;
font-family:Poppins,sans-serif;
font-weight:600;
color:#222;
}

h6,.h6 {
font-size:14px;
color:#222;
}

.clear::before,.clear::after {
content:" ";
display:table;
}

.clear::after {
clear:both;
}

.fz-11 {
font-size:11px;
}

.fz-12 {
font-size:12px;
}

.fz-15 {
font-size:15px;
}

.fz-48 {
font-size:48px!important;
}

.fw100 {
font-weight:100;
}

.fw300 {
font-weight:300;
}

.fw400 {
font-weight:400!important;
}

.fw500 {
font-weight:500;
}

.f700 {
font-weight:700;
}

.mt-10 {
margin-top:10px;
}

.mt-15 {
margin-top:15px;
}

.mt-25 {
margin-top:25px;
}

.mt-35 {
margin-top:35px;
}

.mt-40 {
margin-top:40px;
}

.mt-60 {
margin-top:60px;
}

.mt-70 {
margin-top:70px;
}

.mt-80 {
margin-top:80px;
}

.mt-120 {
margin-top:120px;
}

.mt-150 {
margin-top:150px;
}

.ml-0 {
margin-left:0!important;
}

.ml-5 {
margin-left:5px!important;
}

.ml-15 {
margin-left:15px;
}

.ml-20 {
margin-left:20px;
}

.ml-50 {
margin-left:50px;
}

.mr-0 {
margin-right:0!important;
}

.mr-5 {
margin-right:5px!important;
}

.mr-10 {
margin-right:10px;
}

.mr-30 {
margin-right:30px;
}

.mr-50 {
margin-right:50px;
}

.mb-0-i {
margin-bottom:0!important;
}

.mb-5 {
margin-bottom:5px;
}

.mb-15 {
margin-bottom:15px;
}

.mb-25 {
margin-bottom:25px;
}

.mb-40 {
margin-bottom:40px;
}

.mb-60 {
margin-bottom:60px;
}

.mb-70 {
margin-bottom:70px;
}

.mb-80 {
margin-bottom:80px;
}

.mb-90 {
margin-bottom:90px;
}

.mb-100 {
margin-bottom:100px;
}

.pt-0 {
padding-top:0;
}

.pt-10 {
padding-top:10px;
}

.pt-15 {
padding-top:15px;
}

.pt-20 {
padding-top:20px;
}

.pt-25 {
padding-top:25px;
}

.pt-30 {
padding-top:30px;
}

.pt-40 {
padding-top:40px;
}

.pt-50 {
padding-top:50px;
}

.pt-60 {
padding-top:60px;
}

.pt-70 {
padding-top:70px;
}

.pt-80 {
padding-top:80px;
}

.pt-90 {
padding-top:90px;
}

.pt-100 {
padding-top:100px;
}

.pt-120 {
padding-top:120px;
}

.pt-150 {
padding-top:150px;
}

.pt-170 {
padding-top:170px;
}

.pb-10 {
padding-bottom:10px;
}

.pb-15 {
padding-bottom:15px;
}

.pb-20 {
padding-bottom:20px;
}

.pb-25 {
padding-bottom:25px;
}

.pb-40 {
padding-bottom:40px;
}

.pb-50 {
padding-bottom:50px;
}

.pb-60 {
padding-bottom:60px;
}

.pb-70 {
padding-bottom:70px;
}

.pb-80 {
padding-bottom:80px;
}

.pb-90 {
padding-bottom:90px;
}

.pb-100 {
padding-bottom:100px;
}

.pb-150 {
padding-bottom:150px;
}

.pl-90 {
padding-left:90px;
}

.p-40 {
padding:40px;
}

.float-left {
float:left;
}

.float-right {
float:right;
}

.text-black {
color:#000;
}

.section-full {
padding:100px 0;
}

.section-half {
padding:75px 0;
}

.inline-flex {
display:inline-flex;
}

.flex-grow {
-webkit-box-flex:1;
-webkit-flex-grow:1;
-moz-flex-grow:1;
-ms-flex-positive:1;
flex-grow:1;
}

.flex-wrap {
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}

.flex-left {
-webkit-box-pack:start;
-ms-flex-pack:start;
-webkit-justify-content:flex-start;
-moz-justify-content:flex-start;
justify-content:flex-start;
}

.flex-middle {
-webkit-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
-moz-align-items:center;
align-items:center;
}

.flex-right {
-webkit-box-pack:end;
-ms-flex-pack:end;
-webkit-justify-content:flex-end;
-moz-justify-content:flex-end;
justify-content:flex-end;
}

.flex-top {
-webkit-align-self:flex-start;
-moz-align-self:flex-start;
-ms-flex-item-align:start;
align-self:flex-start;
}

.flex-center {
-webkit-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
-moz-justify-content:center;
justify-content:center;
}

.flex-bottom {
-webkit-align-self:flex-end;
-moz-align-self:flex-end;
-ms-flex-item-align:end;
align-self:flex-end;
}

.space-between {
-webkit-box-pack:justify;
-ms-flex-pack:justify;
-webkit-justify-content:space-between;
-moz-justify-content:space-between;
justify-content:space-between;
}

.space-around {
-ms-flex-pack:distribute;
-webkit-justify-content:space-around;
-moz-justify-content:space-around;
justify-content:space-around;
}

.flex-column {
-webkit-box-direction:normal;
-webkit-box-orient:vertical;
-webkit-flex-direction:column;
-moz-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
}

.flex-cell {
display:flex;
-webkit-box-flex:1;
-webkit-flex-grow:1;
-moz-flex-grow:1;
-ms-flex-positive:1;
flex-grow:1;
}

.display-table {
display:table;
}

.overlay {
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
}

.container.no-padding {
padding-left:0;
padding-right:0;
}

.section-bg {
background:#f9fafc;
}

.row.no-margin {
margin-left:0;
margin-right:0;
}

.generic-banner {
margin-top:60px;
background-color:#f42f2c;
text-align:center;
}

.generic-banner .height {
height:600px;
}

.generic-banner .generic-banner-content h2 {
line-height:1.2em;
margin-bottom:20px;
}

.generic-banner .generic-banner-content p {
text-align:center;
font-size:16px;
}

.section-top-border {
border-top:1px dotted #eee;
padding:50px 0;
}

.sample-text-area {
background:#f9f9ff;
padding:100px 0 70px;
}

.text-heading {
margin-bottom:30px;
font-size:24px;
}

.button-area .border-top-generic {
border-top:1px dotted #eee;
padding:70px 15px;
}

.button-group-area .genric-btn {
margin-right:10px;
margin-top:10px;
}

.button-group-area .genric-btn:last-child {
margin-right:0;
}

.genric-btn {
display:inline-block;
outline:none;
line-height:40px;
font-size:.8em;
text-align:center;
text-decoration:none;
font-weight:500;
cursor:pointer;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
padding:0 30px;
}

.genric-btn.e-large {
line-height:50px;
padding:0 40px;
}

.genric-btn.large {
line-height:45px;
}

.genric-btn.medium {
line-height:30px;
}

.genric-btn.small {
line-height:25px;
}

.genric-btn.radius {
border-radius:3px;
}

.genric-btn.arrow {
display:inline-flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
}

.genric-btn.link {
color:#222;
background:#f9f9ff;
text-decoration:underline;
border:1px solid transparent;
}

.genric-btn.link:hover {
color:#222;
border:1px solid #f9f9ff;
background:#fff;
}

.genric-btn.link-border {
color:#222;
border:1px solid #f9f9ff;
background:#fff;
text-decoration:underline;
}

.genric-btn.disable {
color:#222,0.3;
background:#f9f9ff;
border:1px solid transparent;
cursor:not-allowed;
}

.generic-blockquote {
background:#fff;
border-left:2px solid #f42f2c;
padding:30px 50px 30px 30px;
}

.progress-table {
background:#fff;
min-width:800px;
padding:15px 0 30px;
}

.progress-table .serial {
width:11.83%;
padding-left:30px;
}

.progress-table .country {
width:28.07%;
}

.progress-table .visit {
width:19.74%;
}

.progress-table .percentage {
width:40.36%;
padding-right:50px;
}

.progress-table .table-head .serial,.progress-table .table-head .country,.progress-table .table-head .visit,.progress-table .table-head .percentage {
color:#222;
line-height:40px;
text-transform:uppercase;
font-weight:500;
}

.progress-table .table-row {
border-top:1px solid #edf3fd;
display:flex;
padding:15px 0;
}

.progress-table .table-row .serial,.progress-table .table-row .country,.progress-table .table-row .visit,.progress-table .table-row .percentage {
display:flex;
align-items:center;
}

.progress-table .table-row .percentage .progress {
width:80%;
border-radius:0;
background:transparent;
}

.progress-table .table-row .percentage .progress .progress-bar {
height:5px;
line-height:5px;
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
background-color:#f09359;
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
background-color:#a367e7;
}

.single-gallery-image {
margin-top:30px;
background-repeat:no-repeat!important;
background-position:center center!important;
background-size:cover!important;
height:200px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.single-gallery-image:hover {
opacity:.8;
}

.list-style {
width:14px;
height:14px;
}

.unordered-list li {
position:relative;
padding-left:30px;
line-height:1.82em!important;
}

.unordered-list li:before {
content:"";
position:absolute;
width:14px;
height:14px;
border:3px solid #f42f2c;
background:#fff;
top:4px;
left:0;
border-radius:50%;
}

.ordered-list li {
list-style-type:decimal-leading-zero;
color:#f42f2c;
font-weight:500;
line-height:1.82em!important;
}

.ordered-list-alpha li {
margin-left:30px;
list-style-type:lower-alpha;
color:#f42f2c;
font-weight:500;
line-height:1.82em!important;
}

.ordered-list-roman li {
margin-left:30px;
list-style-type:lower-roman;
color:#f42f2c;
font-weight:500;
line-height:1.82em!important;
}

.single-input {
display:block;
width:100%;
line-height:40px;
border:none;
outline:none;
background:#fff;
padding:0 20px;
}

.input-group-icon .icon {
position:absolute;
left:20px;
top:0;
line-height:40px;
z-index:3;
}

.input-group-icon .icon i {
color:#797979;
}

.input-group-icon .single-input {
padding-left:45px;
}

.single-textarea {
display:block;
width:100%;
line-height:40px;
border:none;
outline:none;
background:#fff;
height:100px;
resize:none;
padding:0 20px;
}

.single-input-primary:focus {
outline:none;
border:1px solid #f42f2c;
}

.single-input-accent:focus {
outline:none;
border:1px solid #eb6b55;
}

.single-input-secondary:focus {
outline:none;
border:1px solid #f09359;
}

.default-switch input {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
width:100%;
height:100%;
opacity:0;
cursor:pointer;
}

.default-switch input+label {
position:absolute;
top:1px;
left:1px;
width:15px;
height:15px;
border-radius:50%;
background:#f42f2c;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
box-shadow:0 4px 5px 0 rgba(0,0,0,0.2);
cursor:pointer;
}

.primary-switch input+label:before {
content:"";
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
width:100%;
height:100%;
background:transparent;
border-radius:8.5px;
cursor:pointer;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
}

.confirm-switch input+label:before {
content:"";
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
width:100%;
height:100%;
background:transparent;
border-radius:8.5px;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
cursor:pointer;
}

.confirm-switch input:checked+label:before {
background:#4cd3e3;
}

.primary-checkbox input:checked+label {
background:url(../img/elements/primary-check.png) no-repeat center center/cover;
border:none;
}

.confirm-checkbox input:checked+label {
background:url(../img/elements/success-check.png) no-repeat center center/cover;
border:none;
}

.disabled-checkbox input:checked+label {
background:url(../img/elements/disabled-check.png) no-repeat center center/cover;
border:none;
}

.primary-radio input:checked+label {
background:url(../img/elements/primary-radio.png) no-repeat center center/cover;
border:none;
}

.confirm-radio input:checked+label {
background:url(../img/elements/success-radio.png) no-repeat center center/cover;
border:none;
}

.disabled-radio input:checked+label {
background:url(../img/elements/disabled-radio.png) no-repeat center center/cover;
border:none;
}

.default-select {
height:40px;
}

.default-select .nice-select {
border:none;
border-radius:0;
height:40px;
background:#fff;
padding-left:20px;
padding-right:40px;
}

.default-select .nice-select .list .option {
font-weight:300;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
line-height:28px;
min-height:28px;
font-size:12px;
padding-left:20px;
}

.form-select {
height:40px;
width:100%;
}

.form-select .nice-select {
border:none;
border-radius:0;
height:40px;
background:#fff!important;
padding-left:45px;
padding-right:40px;
width:100%;
}

.form-select .nice-select .list .option {
font-weight:300;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
line-height:28px;
min-height:28px;
font-size:12px;
padding-left:45px;
}

.header-top {
padding:20px 0;
}

.top-head-btn {
background:#f42f2c;
padding:9px 26px;
}

.main-menu {
border-top:1px solid rgba(255,255,255,0.2);
border-bottom:1px solid rgba(255,255,255,0.2);
padding:20px 15px;
}

#header {
position:fixed;
left:0;
top:0;
right:0;
transition:all .5s;
z-index:997;
}

#header.header-scrolled {
transition:all .5s;
background-color:rgba(34,34,34,0.9);
}

#header.header-scrolled .header-top {
display:none;
}

#header.header-scrolled .main-menu {
background:transparent;
border:none;
}

.nav-menu ul {
position:absolute;
display:none;
top:100%;
right:0;
z-index:99;
box-shadow:0 0 30px rgba(127,137,161,0.25);
background:#fff;
margin:20px 0 0;
padding:10px;
}

.nav-menu li {
position:relative;
white-space:nowrap;
}

.nav-menu>li {
float:left;
margin-left:10px;
}

.nav-menu ul ul {
top:0;
right:100%;
margin-right:10px;
margin-top:0;
}

.nav-menu ul li {
min-width:180px;
transition:.3s;
}

.sf-arrows .sf-with-ul:after {
content:"\f107";
position:absolute;
right:15px;
font-family:FontAwesome;
font-style:normal;
font-weight:400;
}

.sf-arrows ul .sf-with-ul:after {
content:"\f105";
}

.nav-menu a {
text-decoration:none;
display:inline-block;
color:#fff;
font-weight:500;
font-size:12px;
text-transform:uppercase;
outline:none;
padding:0 8px;
}

.nav-menu ul li a {
color:#333;
transition:.3s;
display:block;
font-size:12px;
text-transform:none;
padding:5px 10px;
}

#mobile-nav-toggle {
float:right;
z-index:999;
border:0;
background:none;
font-size:24px;
display:none;
transition:all .4s;
outline:none;
cursor:pointer;
}

.menu-title {
color:#fff;
display:none;
}

#mobile-nav-toggle i {
color:#fff;
font-weight:900;
}

#mobile-nav {
position:fixed;
top:0;
padding-top:18px;
bottom:0;
z-index:998;
background:rgba(0,0,0,0.8);
left:-260px;
width:260px;
overflow-y:auto;
transition:.4s;
}

#mobile-nav ul {
list-style:none;
margin:0;
padding:0;
}

#mobile-nav ul li a {
color:#fff;
font-size:13px;
text-transform:uppercase;
overflow:hidden;
position:relative;
text-decoration:none;
width:100%;
display:block;
outline:none;
font-weight:400;
padding:10px 22px 10px 15px;
}

#mobile-nav ul .menu-has-children i {
position:absolute;
right:0;
z-index:99;
cursor:pointer;
color:#fff;
padding:15px;
}

#mobile-nav ul .menu-has-children li a {
text-transform:none;
}

#mobile-body-overly {
width:100%;
height:100%;
z-index:997;
top:0;
left:0;
position:fixed;
background:rgba(0,0,0,0.7);
display:none;
}

body.mobile-nav-active #mobile-nav {
left:0;
}

.section-gap {
padding:120px 0;
}

#logo {
padding-left:15px;
}

#nav-menu-container {
padding-right:15px;
}

.primary-btn {
background:#f42f2c;
line-height:42px;
padding-left:30px;
padding-right:30px;
border:none;
color:#fff;
display:inline-block;
font-size:14px;
font-weight:500;
text-transform:uppercase;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
cursor:pointer;
position:relative;
}

.primary-btn span {
color:#fff;
position:absolute;
top:50%;
transform:translateY(-60%);
right:30px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.primary-btn:hover span {
color:#fff;
right:20px;
}

.primary-btn.white {
border:1px solid #fff;
color:#fff;
}

.primary-btn.white:hover {
background:#fff;
color:#f42f2c;
}

.section-title {
text-align:center;
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:80px;
}

.banner-area {
background:url(../img/hero-bg.jpg) center center/cover;
background-size:cover;
}

.banner-content h6 {
text-transform:uppercase;
font-weight:300;
letter-spacing:2px;
}

.banner-content h1 {
font-size:60px;
font-weight:700;
margin:20px 0;
}

.banner-content p {
max-width:515px;
margin-bottom:30px;
}

.home-about-left p {
max-width:490px;
margin:20px 0;
}

.home-about-left .primary-btn:hover {
box-shadow:0 20px 20px 0 rgba(245,63,81,0.2);
}

.filter-wrap {
background:#fff;
border-radius:10px;
box-shadow:0 10px 30px 0 rgba(153,153,153,0.2);
display:table;
}

.filter-wrap li {
display:table-cell;
border-right:1px solid #edf6ff;
}

.single-menu {
background:#fff;
border-radius:10px;
margin-top:20px;
padding:30px;
}

.single-menu p {
margin-bottom:0;
max-width:392px;
}

.reservation-area {
background:url(../img/reservation-bg.jpg) no-repeat center/cover;
}

.reservation-area .overlay-bg {
background:rgba(17,22,24,0.75);
}

.reservation-area .reservation-right .form-wrap {
background:#fff;
padding:100px 40px;
}

.reservation-area .reservation-right .form-wrap .form-control {
border-radius:0;
margin-bottom:10px;
font-size:13px;
font-weight:300;
color:#999;
border-color:#eee;
padding:.575rem .75rem;
}

.reservation-area .reservation-right .form-wrap .form-control:focus {
box-shadow:none;
}

.reservation-area .reservation-right .primary-btn {
text-transform:capitalize!important;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.reservation-area .reservation-right .primary-btn:hover {
box-shadow:-14.142px 14.142px 20px 0 rgba(244,47,44,0.2);
}

.reservation-area .reservation-right .nice-select {
padding-left:12px;
padding-right:0;
}

.reservation-area .reservation-right .nice-select .list .option {
padding-left:12px;
}

.review-area {
background:url(../img/review-bg.jpg) no-repeat center/cover;
}

.review-area .owl-carousel .owl-item img {
width:auto!important;
}

.review-area .owl-dots {
text-align:center;
bottom:5px;
margin-top:50px;
width:100%;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden;
backface-visibility:hidden;
}

.review-area .owl-dot {
height:10px;
width:10px;
display:inline-block;
background:rgba(244,47,44,0.2);
margin-left:5px;
margin-right:5px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.review-area .owl-dot.active {
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
background:#f42f2c;
}

.single-review img {
margin-right:auto;
margin-left:auto;
display:block;
}

.single-review p {
margin-top:20px;
max-width:555px;
margin-right:auto;
margin-left:auto;
display:block;
font-style:italic;
}

.single-review .star .checked {
color:#ffc000;
}

.single-blog .thumb img {
width:100%;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.single-blog h4 {
margin-bottom:12px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.single-blog .date {
background-color:#000;
color:#fff;
font-weight:100;
width:115px;
text-align:center;
margin-top:20px;
padding:2px 15px;
}

.link-nav {
margin-top:10px;
margin-bottom:0;
}

.about-banner {
background:url(../img/top-banner.jpg) no-repeat bottom right/cover;
background-size:cover;
}

.about-banner .overlay-bg {
background:rgba(4,9,30,0.4);
}

.about-content {
margin-top:185px;
text-align:center;
padding:90px 0;
}

.about-content h1 {
font-size:36px;
font-weight:600;
}

.about-content a {
color:#fff;
font-weight:300;
font-size:14px;
}

.about-content .lnr {
font-weight:600;
margin:0 10px;
}

.single-service .thumb img {
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
width:100%;
}

.blog-home-banner {
background:url(../img/blog/blog-home-banner.jpg) bottom;
background-size:cover;
padding:130px 0;
}

.blog-home-banner .primary-btn {
border-radius:0;
background:#fff;
color:#222;
font-weight:600;
border:1px solid transparent;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.blog-home-banner .primary-btn:hover {
background:transparent;
color:#fff;
border-color:#fff;
}

.blog-home-banner .overlay-bg {
background:rgba(0,0,0,0.5);
}

.blog-header-content h1 {
max-width:500px;
margin-left:auto;
margin-right:auto;
}

.top-category-widget-area .single-cat-widget {
position:relative;
text-align:center;
}

.top-category-widget-area .single-cat-widget .overlay-bg {
background:rgba(0,0,0,0.85);
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
margin:7%;
}

.top-category-widget-area .single-cat-widget .content-details {
top:32%;
left:0;
right:0;
margin-left:auto;
margin-right:auto;
color:#fff;
bottom:0;
position:absolute;
}

.top-category-widget-area .single-cat-widget .content-details span {
display:inline-block;
background:#fff;
width:60%;
height:1%;
}

.top-category-widget-area .single-cat-widget:hover .overlay-bg {
background:rgba(244,47,44,0.85);
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
margin:7%;
}

.post-content-area .single-post .meta-details {
text-align:right;
margin-top:35px;
}

.post-content-area .single-post .meta-details .tags li {
display:inline-block;
font-size:14px;
}

.post-content-area .single-post .meta-details .tags li a {
color:#222;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.post-content-area .single-post .user-name a,.post-content-area .single-post .date a,.post-content-area .single-post .view a,.post-content-area .single-post .comments a {
color:#777;
margin-right:10px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.post-content-area .single-post .user-name .lnr,.post-content-area .single-post .date .lnr,.post-content-area .single-post .view .lnr,.post-content-area .single-post .comments .lnr {
font-weight:900;
color:#222;
}

.post-content-area .single-post .primary-btn {
background:#fff!important;
color:#222!important;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
border-radius:0!important;
}

.post-content-area .single-post .primary-btn:hover {
background:#f42f2c!important;
color:#fff!important;
}

.blog-pagination {
padding-top:60px;
padding-bottom:120px;
}

.blog-pagination .page-link {
border-radius:0;
position:relative;
display:block;
margin-left:-1px;
line-height:1.25;
color:#777;
border:none;
padding:.5rem .75rem;
}

.page-link {
background:transparent;
font-weight:400;
}

.blog-pagination .page-item.active .page-link {
background-color:#f42f2c;
color:#fff;
border-color:transparent;
}

.blog-pagination .page-link:hover {
color:#fff;
text-decoration:none;
background-color:#f42f2c;
border-color:#eee;
}

.widget-wrap {
background:#fafaff;
border:1px solid #eee;
padding:20px 0;
}

.widget-wrap .single-sidebar-widget {
padding-bottom:30px;
border-bottom:1px solid #eee;
margin:30px;
}

.widget-wrap .single-sidebar-widget:last-child {
border-bottom:none;
margin-bottom:0;
}

.widget-wrap .search-widget form.search-form input[type=text] {
color:#fff;
font-size:14px;
border:none;
float:left;
width:80%;
border-bottom-left-radius:20px;
border-top-left-radius:20px;
background:#f42f2c;
padding:10px 22px;
}

.widget-wrap .search-widget form.search-form button {
float:left;
width:20%;
background:#f42f2c;
color:#fff;
font-size:17px;
border:none;
cursor:pointer;
border-bottom-right-radius:20px;
border-top-right-radius:20px;
padding:10px;
}

.widget-wrap .search-widget form.search-form::after {
content:"";
clear:both;
display:table;
}

.widget-wrap .user-info-widget a h4 {
margin-top:40px;
margin-bottom:5px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.widget-wrap .user-info-widget .social-links li a {
color:#222;
font-size:14px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
padding:10px;
}

.widget-wrap .popular-post-widget .single-post-list .details {
margin-left:12px;
}

.widget-wrap .popular-post-widget .single-post-list .details h6 {
font-weight:600;
margin-bottom:10px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.widget-wrap .post-category-widget .cat-list li {
padding-top:15px;
padding-bottom:8px;
border-bottom:2px dotted #eee;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.widget-wrap .post-category-widget .cat-list li p {
font-weight:300;
font-size:14px;
margin-bottom:0;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.widget-wrap .post-category-widget .cat-list li:hover {
border-color:#f42f2c;
}

.widget-wrap .newsletter-widget p {
text-align:center;
margin:20px 0;
}

.widget-wrap .newsletter-widget .bbtns {
background:#f42f2c;
color:#fff;
font-size:12px;
font-weight:500;
border-radius:0;
padding:8px 20px;
}

.widget-wrap .newsletter-widget .input-group-text {
background:#fff;
border-radius:0;
vertical-align:top;
}

.widget-wrap .newsletter-widget .input-group-text i {
color:#ccc;
margin-top:-1px;
}

.widget-wrap .newsletter-widget .form-control {
border-left:none!important;
border-right:none!important;
border-radius:0;
font-size:13px;
color:#ccc;
padding:9px 9px 9px 0;
}

.widget-wrap .newsletter-widget .form-control:focus {
box-shadow:none;
border-color:#ccc;
}

.widget-wrap .tag-cloud-widget .tagcloud-title {
background:#f42f2c;
color:#fff;
text-align:center;
margin-bottom:30px;
padding:12px 0;
}

.widget-wrap .tag-cloud-widget ul li {
display:inline-block;
border:1px solid #eee;
background:#fff;
margin-bottom:10px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
padding:4px 14px;
}

.widget-wrap .tag-cloud-widget ul li a {
font-size:12px;
color:#222;
}

.single-post-area {
padding-top:80px;
padding-bottom:80px;
}

.single-post-area .meta-details {
margin-top:20px!important;
}

.single-post-area .social-links li a {
color:#222;
font-size:14px;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
padding:7px;
}

.single-post-area .quotes {
margin-top:20px;
background-color:#fff;
box-shadow:-20.84px 21.58px 30px 0 rgba(176,176,176,0.1);
padding:30px;
}

.single-post-area .arrow {
position:absolute;
}

.single-post-area .arrow .lnr {
font-size:20px;
font-weight:600;
}

.single-post-area .thumb .overlay-bg {
background:rgba(0,0,0,0.8);
}

.single-post-area .navigation-area {
border-top:1px solid #eee;
padding-top:30px;
}

.single-post-area .navigation-area .nav-left .thumb {
margin-right:20px;
background:#000;
}

.single-post-area .navigation-area .nav-left .lnr {
margin-left:20px;
opacity:0;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.single-post-area .navigation-area .nav-right .thumb {
margin-left:20px;
background:#000;
}

.single-post-area .navigation-area .nav-right .lnr {
margin-right:20px;
opacity:0;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.comments-area {
background:#fafaff;
border:1px solid #eee;
margin-top:50px;
padding:50px 20px;
}

.comments-area .comment-list.left-padding {
padding-left:25px;
}

.comments-area .btn-reply {
background-color:#fff;
color:#222;
border:1px solid #eee;
display:block;
font-weight:600;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
padding:8px 30px;
}

.comment-form {
background:#fafaff;
text-align:center;
border:1px solid #eee;
margin-top:50px;
padding:50px 20px;
}

.comment-form .name {
padding-left:0;
}

.comment-form .email {
padding-right:0;
}

.comment-form .form-control {
background:#fff;
border:none;
border-radius:0;
width:100%;
font-size:13px;
color:#777;
padding:12px;
}

.comment-form .form-control:focus {
box-shadow:none;
border:1px solid #eee;
}

.comment-form .primary-btn {
border-radius:0!important;
border:1px solid transparent;
color:#fff;
font-weight:600;
}

.comment-form .primary-btn:hover {
background:transparent;
color:#f42f2c!important;
border-color:#f42f2c!important;
}

.contact-page-area .map-wrap {
margin-bottom:120px;
}

.contact-page-area .contact-btns {
font-size:18px;
font-weight:600;
text-align:center;
color:#fff;
margin-bottom:30px;
padding:40px;
}

.contact-page-area .form-area .form-control:focus {
box-shadow:none!important;
border-color:#ced4da!important;
}

.contact-page-area .form-area input {
padding:15px;
}

.contact-page-area .form-area input,.contact-page-area .form-area textarea {
border-radius:0;
font-size:13px!important;
}

.contact-page-area .form-area textarea {
height:190px;
margin-top:0;
padding:15px;
}

.contact-page-area .form-area .genric-btn {
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
border-radius:0!important;
font-size:14px;
text-transform:uppercase!important;
}

.contact-page-area .form-area .genric-btn:hover {
border:1px solid #f42f2c;
color:#f42f2c!important;
}

.contact-page-area .address-wrap .single-contact-address {
margin-bottom:8px;
}

.contact-page-area .address-wrap .single-contact-address h5 {
font-weight:300;
font-size:16px;
margin-bottom:5px;
}

.contact-page-area .address-wrap .single-contact-address .lnr {
font-size:30px;
font-weight:500;
color:#f42f2c;
margin-right:30px;
}

.footer-area .number {
color:#fff;
font-size:24px;
font-weight:600;
line-height:30px;
}

.footer-area .genric-btn {
background:#f42f2c;
border:none;
border-radius:57px;
height:36px;
line-height:41px;
}

.footer-widget-wrap {
background:#f42f2c;
color:#fff;
}

.single-footer-widget .navbar-form .form-control {
border-radius:20px;
font-size:13px;
background-color:#f9f9ff;
border:1px solid #f9f9ff;
}

.single-footer-widget .navbar-form .form-control:focus {
box-shadow:none!important;
}

.single-footer-widget .navbar-form .add-on {
background:#f9f9ff;
border-radius:20px;
border:1px solid #fff;
}

.single-footer-widget .navbar-form .lnr {
font-weight:900;
font-size:13px!important;
color:#fff;
padding:11px;
}

.single-footer-widget .hr-list li {
margin-bottom:20px;
padding-bottom:20px;
border-bottom:1px solid rgba(238,238,238,0.3);
}

.footer-bottom {
padding:15px 0;
}

.footer-bottom .social-icons li {
display:inline-block;
}

.footer-bottom .social-icons li a {
display:inline-block;
width:35px;
height:35px;
line-height:35px;
text-align:center;
background:#111;
color:#fff;
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

.footer-bottom .social-icons li a:hover {
background:#f42f2c;
color:#111;
}

::-moz-selection,::selection,.comments-area .btn-reply:hover {
background-color:#f42f2c;
color:#fff;
}

::-webkit-input-placeholder,:-ms-input-placeholder,::-ms-input-placeholder {
color:#777;
font-weight:300;
}

:-moz-placeholder,::-moz-placeholder {
color:#777;
opacity:1;
font-weight:300;
}

ol,ul,.nav-menu,.nav-menu * {
list-style:none;
margin:0;
padding:0;
}

select,.nav-menu li:hover>ul,.nav-menu li.sfHover>ul {
display:block;
}

figure,.switch-wrap p {
margin:0;
}

a,.transition,.posts-list .posts-title h3,.single-post-area .navigation-area .nav-left .thumb img,.single-post-area .navigation-area .nav-right .thumb img {
-webkit-transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
transition:all .3s ease 0;
}

a,a:focus,a:hover,.btn.active.focus,.btn.active:focus,.btn.focus,.btn.focus:active,.btn:active:focus,.btn:focus {
text-decoration:none;
outline:0;
}

.gray-bg,.button-area,.menu-area,.gallery-area,.blog-page,.contact-page-area {
background:#f9f9ff;
}

h1,.h1,h1 {
font-size:36px;
}

h2,.h2,.fz-30,h2 {
font-size:30px;
}

h3,.h3,h3 {
font-size:24px;
}

h4,.h4,.fz-18,h4 {
font-size:18px;
}

h5,.h5,.fz-16,h5 {
font-size:16px;
}

td,th,.blog-pagination .page-item:last-child .page-link,.blog-pagination .page-item:first-child .page-link {
border-radius:0;
}

.fz-13,.menu-area .filters-content .item .p-inner .cat,.gallery-area .filters-content .item .p-inner .cat {
font-size:13px;
}

.fz-14,h6 {
font-size:14px;
}

.fsi,.text-italic {
font-style:italic;
}

.mt-20,.single-review h4 {
margin-top:20px;
}

.mt-30,.widget-wrap .popular-post-widget .popular-post-list {
margin-top:30px;
}

.mt-50,.menu-area .filters-content,.gallery-area .filters-content {
margin-top:50px;
}

.mt-100,.banner-content {
margin-top:100px;
}

.ml-10,.genric-btn.arrow span {
margin-left:10px;
}

.ml-30,.ordered-list {
margin-left:30px;
}

.mr-15,.progress-table .table-row .country img {
margin-right:15px;
}

.mr-20,.comments-area .thumb {
margin-right:20px;
}

.mb-0,.sample-text,.widget-wrap .popular-post-widget .single-post-list .details p,.widget-wrap .newsletter-widget .text-bottom {
margin-bottom:0;
}

.mb-10,.switch-wrap,.typo-list,.section-title h1 {
margin-bottom:10px;
}

.mb-20,.about-generic-area p,.single-menu .title-wrap,.post-content-area .single-post .excert,.widget-wrap .popular-post-widget .single-post-list {
margin-bottom:20px;
}

.mb-30,.single-element-widget,.single-gallery,.post-content-area .single-post .meta-details .tags {
margin-bottom:30px;
}

.mb-50,.post-content-area .single-post {
margin-bottom:50px;
}

.pb-0,.comments-area .comment-list:last-child {
padding-bottom:0;
}

.pb-30,.comments-area .comment-list,.footer-area h4 {
padding-bottom:30px;
}

.pb-120,.sidebar-widgets {
padding-bottom:120px;
}

.pr-30,.sf-arrows .sf-with-ul {
padding-right:30px;
}

.pl-30,#mobile-nav ul li li {
padding-left:30px;
}

.text-white,.light,#mobile-nav ul li a:hover,body.mobile-nav-active #mobile-nav-toggle,.alert-msg,.primary-btn:hover,.primary-btn.white span,.top-category-widget-area .single-cat-widget .content-details h4,.widget-wrap .search-widget ::-webkit-input-placeholder,.widget-wrap .search-widget ::-moz-placeholder,.widget-wrap .search-widget :-ms-input-placeholder,.widget-wrap .search-widget :-moz-placeholder,.widget-wrap .tag-cloud-widget ul li:hover a,.contact-page-area .contact-btns:hover,.footer-area .single-footer-widget h4,.single-footer-widget .navbar-form .genric-btn:hover .lnr,.single-footer-widget .navbar-form .error {
color:#fff;
}

.text-center,.single-review,.widget-wrap .user-info-widget {
text-align:center;
}

.text-left,.single-post-area .navigation-area .nav-left {
text-align:left;
}

.text-rigth,.single-post-area .navigation-area .nav-right {
text-align:right;
}

.flex,.progress-table .table-head {
display:flex;
}

.dark,.single-blog a,.comments-area a {
color:#222;
}

.relative,.input-group-icon,#mobile-nav ul li,.reservation-area .reservation-right,.reservation-area .reservation-left {
position:relative;
}

.overflow-hidden,body.mobile-nav-active,.single-blog .thumb,.single-service .thumb {
overflow:hidden;
}

.container.fullwidth,.single-gallery img,.top-category-widget-area .single-cat-widget img,.post-content-area .single-post .feature-img img,.widget-wrap .popular-post-widget .popular-post-list .thumb img,.widget-wrap .ads-widget img,.widget-wrap .newsletter-widget .col-autos,.single-footer-widget .navbar-form {
width:100%;
}

.no-padding,.single-footer-widget .navbar-form .genric-btn {
padding:0;
}

.whole-wrap,.top-category-widget-area,.post-content-area {
background-color:#f9f9ff;
}

.generic-content h1,.blog-pagination .page-link .lnr {
font-weight:600;
}

.about-generic-area,.white-bg {
background:#fff;
}

b,sup,sub,u,del,.nav-menu li:hover>a,.nav-menu ul li:hover>a,#mobile-nav ul .menu-has-children i.fa-chevron-up,#mobile-nav ul .menu-item-active,.primary-btn.white:hover span,.single-menu .price,.single-blog:hover h4,.single-service:hover h4,.post-content-area .single-post .meta-details .tags li a:hover,.post-content-area .single-post .user-name a:hover,.post-content-area .single-post .date a:hover,.post-content-area .single-post .view a:hover,.post-content-area .single-post .comments a:hover,.posts-list .posts-title h3:hover,.widget-wrap .user-info-widget .social-links li a:hover,.widget-wrap .popular-post-widget .single-post-list .details h6:hover,.widget-wrap .post-category-widget .cat-list li:hover p,.single-post-area .social-links li a:hover,.footer-area .primary-btn:hover .lnr,.footer-text a,.footer-text i {
color:#f42f2c;
}

.typography h1,.typography h2,.typography h3,.typography h4,.typography h5,.typography h6,.widget-wrap .post-category-widget .cat-list li a,.comments-area .comment {
color:#777;
}

.circle,.genric-btn.circle {
border-radius:20px;
}

.genric-btn:focus,.single-input:focus,.single-textarea:focus,.primary-btn:focus {
outline:none;
}

.genric-btn.default,.genric-btn.default-border:hover,.genric-btn.link-border:hover {
color:#222;
background:#f9f9ff;
border:1px solid transparent;
}

.genric-btn.default:hover,.genric-btn.default-border {
border:1px solid #f9f9ff;
background:#fff;
}

.genric-btn.primary,.genric-btn.primary-border:hover {
color:#fff;
background:#f42f2c;
border:1px solid transparent;
}

.genric-btn.primary:hover,.genric-btn.primary-border {
color:#f42f2c;
border:1px solid #f42f2c;
background:#fff;
}

.genric-btn.success,.genric-btn.success-border:hover {
color:#fff;
background:#4cd3e3;
border:1px solid transparent;
}

.genric-btn.success:hover,.genric-btn.success-border {
color:#4cd3e3;
border:1px solid #4cd3e3;
background:#fff;
}

.genric-btn.info,.genric-btn.info-border:hover {
color:#fff;
background:#38a4ff;
border:1px solid transparent;
}

.genric-btn.info:hover,.genric-btn.info-border {
color:#38a4ff;
border:1px solid #38a4ff;
background:#fff;
}

.genric-btn.warning,.genric-btn.warning-border:hover {
color:#fff;
background:#f4e700;
border:1px solid transparent;
}

.genric-btn.warning:hover,.genric-btn.warning-border {
color:#f4e700;
border:1px solid #f4e700;
background:#fff;
}

.genric-btn.danger,.genric-btn.danger-border:hover {
color:#fff;
background:#f44a40;
border:1px solid transparent;
}

.genric-btn.danger:hover,.genric-btn.danger-border {
color:#f44a40;
border:1px solid #f44a40;
background:#fff;
}

.progress-table .table-row .percentage .progress .progress-bar.color-1,.progress-table .table-row .percentage .progress .progress-bar.color-6 {
background-color:#6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-2,.progress-table .table-row .percentage .progress .progress-bar.color-8 {
background-color:#e66686;
}

.progress-table .table-row .percentage .progress .progress-bar.color-4,.progress-table .table-row .percentage .progress .progress-bar.color-5 {
background-color:#73fbaf;
}

.ordered-list li span,.ordered-list-alpha li span,.ordered-list-roman li span {
font-weight:300;
color:#777;
}

.single-input-primary,.single-input-accent,.single-input-secondary {
display:block;
width:100%;
line-height:40px;
border:1px solid transparent;
outline:none;
background:#fff;
padding:0 20px;
}

.default-switch,.primary-switch,.confirm-switch {
width:35px;
height:17px;
border-radius:8.5px;
background:#fff;
position:relative;
cursor:pointer;
}

.default-switch input:checked+label,.primary-switch input:checked+label:after,.confirm-switch input:checked+label:after {
left:19px;
}

.primary-switch input,.confirm-switch input,.primary-checkbox input,.confirm-checkbox input,.disabled-checkbox input,.primary-radio input,.confirm-radio input,.disabled-radio input {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
width:100%;
height:100%;
opacity:0;
}

.primary-switch input+label,.confirm-switch input+label {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
width:100%;
height:100%;
}

.primary-switch input+label:after,.confirm-switch input+label:after {
content:"";
position:absolute;
top:1px;
left:1px;
width:15px;
height:15px;
border-radius:50%;
background:#fff;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
box-shadow:0 4px 5px 0 rgba(0,0,0,0.2);
cursor:pointer;
}

.primary-switch input:checked+label:before,.widget-wrap .tag-cloud-widget ul li:hover {
background:#f42f2c;
}

.primary-checkbox,.confirm-checkbox,.disabled-checkbox {
width:16px;
height:16px;
border-radius:3px;
background:#fff;
position:relative;
cursor:pointer;
}

.primary-checkbox input+label,.confirm-checkbox input+label,.disabled-checkbox input+label {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
width:100%;
height:100%;
border-radius:3px;
cursor:pointer;
border:1px solid #f1f1f1;
}

.disabled-checkbox input:disabled,.disabled-radio input:disabled {
cursor:not-allowed;
z-index:3;
}

.primary-radio,.confirm-radio,.disabled-radio {
width:16px;
height:16px;
border-radius:8px;
background:#fff;
position:relative;
cursor:pointer;
}

.primary-radio input+label,.confirm-radio input+label,.disabled-radio input+label {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
width:100%;
height:100%;
border-radius:8px;
cursor:pointer;
border:1px solid #f1f1f1;
}

.default-select .nice-select .list,.form-select .nice-select .list {
margin-top:0;
border:none;
border-radius:0;
box-shadow:none;
width:100%;
padding:10px 0;
}

.default-select .nice-select .list .option.selected,.default-select .nice-select .list .option:hover,.form-select .nice-select .list .option.selected,.form-select .nice-select .list .option:hover {
color:#f42f2c;
background:transparent;
}

.default-select .current,.form-select .current {
margin-right:50px;
font-weight:300;
}

.default-select .nice-select::after,.form-select .nice-select::after {
right:20px;
}

.banner-content .primary-btn:hover,.footer-bottom-wrap {
background:#222;
color:#fff;
}

.menu-area .primary-btn,.gallery-area .primary-btn {
color:#fff;
background-color:#f42f2c;
margin-left:auto;
margin-right:auto;
}

.menu-area .filters,.gallery-area .filters {
text-align:center;
overflow:hidden;
padding:0;
}

.filter-wrap li:last-child,.blog-pagination .page-item {
border:none;
}

.menu-area .filters li,.gallery-area .filters li {
max-width:184px;
cursor:pointer;
position:relative;
color:#222;
font-size:12px;
font-weight:500;
padding:40px 0;
}

.menu-area .filters li:last-child,.gallery-area .filters li:last-child {
border-right:none;
}

.menu-area .filters li.active,.gallery-area .filters li.active {
color:#fff;
background:#f42f2c;
}

.menu-area .filters-content .show,.gallery-area .filters-content .show {
opacity:1;
visibility:visible;
transition:all 350ms;
}

.menu-area .filters-content .hide,.gallery-area .filters-content .hide {
opacity:0;
visibility:hidden;
transition:all 350ms;
}

.menu-area .filters-content .item,.gallery-area .filters-content .item {
text-align:center;
cursor:pointer;
margin-bottom:30px;
}

.menu-area .filters-content .item img,.gallery-area .filters-content .item img {
border-radius:10px;
width:100%;
}

.menu-area .filters-content .p-inner,.gallery-area .filters-content .p-inner {
text-align:center;
padding:20px 0;
}

.reservation-area .reservation-right .form-wrap .nice-select,.reservation-area .reservation-right .nice-select .list {
border:1px solid #eee;
}

.single-blog:hover img,.single-service:hover .thumb img {
transform:scale(1.1);
}

.single-service h4,.blog-header-content p,.post-content-area .single-post .posts-title h3 {
margin:20px 0;
}

.widget-wrap .user-info-widget .social-links li,.single-post-area .social-links li {
display:inline-block;
margin-bottom:10px;
}

.widget-wrap .popular-post-widget .popular-title,.widget-wrap .post-category-widget .category-title,.widget-wrap .newsletter-widget .newsletter-title {
background:#f42f2c;
color:#fff;
text-align:center;
padding:12px 0;
}

.widget-wrap .newsletter-widget ::-webkit-input-placeholder,.widget-wrap .newsletter-widget ::-moz-placeholder,.widget-wrap .newsletter-widget :-ms-input-placeholder,.widget-wrap .newsletter-widget :-moz-placeholder,.comments-area .date {
font-size:13px;
color:#ccc;
}

.single-post-area .navigation-area .nav-left:hover .lnr,.single-post-area .navigation-area .nav-right:hover .lnr {
opacity:1;
}

.single-post-area .navigation-area .nav-left:hover .thumb img,.single-post-area .navigation-area .nav-right:hover .thumb img {
opacity:.5;
}

.comments-area h4,.comment-form h4 {
text-align:center;
margin-bottom:50px;
}

.comment-form ::-webkit-input-placeholder,.comment-form ::-moz-placeholder,.comment-form :-ms-input-placeholder,.comment-form :-moz-placeholder {
font-size:13px;
color:#777;
}

.footer-area .primary-btn,.single-footer-widget .navbar-form .genric-btn:hover {
background-color:#f42f2c;
}

@media max-width 767px{
.no-flex-xs {
display:block!important;
}

.element-wrap {
margin-top:30px;
}

.banner-area {
height:767px!important;
}

.banner-content h1 {
font-size:40px;
}

.post-content-area .single-post .meta-details {
text-align:left;
}

.typo-sec,.single-post-area .navigation-area .nav-left {
margin-bottom:30px;
}

.menu-area .filters li,.gallery-area .filters li {
font-size:10px;
padding:12px 0;
}
}

@media max-width 76798px{
.generic-banner .height {
height:400px;
}
}

@media max-width 99198px{
.generic-banner .generic-banner-content h2 br,.generic-banner .generic-banner-content p br {
display:none;
}
}

@media max-width 991px{
.progress-table-wrap {
overflow-x:scroll;
}

.left-align-p p {
margin-top:20px;
}

#mobile-nav-toggle {
display:inline;
}

.menu-title {
display:inline-block;
}

#nav-menu-container {
display:none;
}

.single-post-area .sidebar-widgets {
padding-bottom:0;
}

.comment-form .name {
padding-right:0;
}

.comment-form .email {
padding-left:0;
}

.footer-bottom .social-icons {
text-align:left!important;
margin-top:15px;
}

.home-about-left,.top-category-widget-area .single-cat-widget,.contact-page-area .map-wrap {
margin-bottom:50px;
}

.reservation-area .reservation-right,.widget-wrap {
margin-top:50px;
}

.single-blog,.single-service,.contact-page-area .address-wrap,.single-footer-widget {
margin-bottom:30px;
}
}

@media max-width 768px{
#nav-menu-container {
display:none;
}

.footer-area .single-footer-widget .newsletter .primary-btn {
right:2%!important;
width:auto;
top:5px;
transform:translate(0%,0);
}

.menu-area .filters li,.gallery-area .filters li {
padding:20px 0;
}
}

@media max-width 1024px{
.banner-content {
margin-top:100px;
}

.post-content-area .single-post .meta-details {
margin-top:0;
}
}

@media max-width 736px and min-width 415px{
.banner-content {
margin-top:240px;
}
}

@media max-width 414px{
.filter-wrap li {
display:block!important;
}

.menu-area .filters li {
max-width:100%!important;
}

.blog-header-content h1 {
font-size:30px;
}

.comments-area {
padding:50px 8px;
}
}

@media max-width 413px{
.comments-area .comment-list .single-comment h5 {
font-size:12px;
}

.comments-area .comment-list .single-comment .date {
font-size:11px;
}

.comments-area .comment-list .single-comment .comment {
font-size:10px;
}
}
